# my global config
global:
  scrape_interval: {{ prometheus_collection_interval }} # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).
 
# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:{{ prometheus_port }}"]

  - job_name: "telegraf"
    static_configs:
      - targets: [
                    "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:{{ telegraf_port }}",
                 ]

  - job_name: "smartctl"
    static_configs:
      - targets: [
                    "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:{{ prometheus_smartctl_port }}"
                 ]

{% if traefik_enabled %}
  - job_name: "traefik"
    static_configs:
      - targets: [
                    "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:{{ traefik_ui_port }}"
                 ]
{% endif %}

{% if prometheus_speedtest_enabled %}
  - job_name: "speedtest"
    scrape_interval: {{ prometheus_speedtest_collection_interval }}
    scrape_timeout: 5m
    static_configs:
      - targets: [
                    "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:{{ prometheus_speedtest_port }}"
                 ]
{% endif %}

{% if prometheus_additional_hosts is defined %}
  - job_name: "additional_hosts"
    static_configs:
      - targets: [
{% for host in prometheus_additional_hosts %}
    {{ host }}
    {% if not loop.last %}
        ,
    {% endif %}
{% endfor %}
                 ]
{% endif %}

{% if homeassistant_enabled is defined %}
  - job_name: "homeassistant"
    metrics_path: /api/prometheus
    authorization:
      credentials: "{{ prometheus_homeassistant_long_lived_access_token | default("abcd") }}"
    static_configs:
      - targets: [
                    "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8123"
                 ]
{% endif %}

{% if watchtower_metrics_enabled | default(false) %}
  - job_name: "watchtower"
    metrics_path: /v1/metrics
    authorization:
      credentials: "{{ watchtower_metrics_token }}"
    static_configs:
      - targets: [
                    "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:{{ watchtower_metrics_port }}"
                 ]
{% endif %}